.loader {
    width: 100%;
    height: 100dvh; 
    overflow: hidden;
    background: #555;
    opacity: 1;
    transition: opacity 0.5s ease;
  }

  .loader.fade-out {
    opacity: 0;
  }
  
  div.dropcontainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 200px;
    width: 200px;
    z-index: 1;
  }
  
  
  div.drop {
    position: absolute;
    top: -25%;
    width: 100%;
    height: 100%;
    border-radius: 100% 5% 100% 100%;
    transform: rotate(-45deg);
    margin: 0px;
    background: radial-gradient(circle, rgba(96,165,250,0.7) 0%, rgba(96,165,250,0.4) 50%, rgba(96,165,250,0.2) 100%);
    box-shadow: inset #111 0px 0px 60px -12px;
    animation: drip 2s forwards;
  }
  
  .logo {
    color: rgb(22, 132, 255);
    position: absolute;
    font-size: 2.5em;
    font-weight: bolder; 
    height: 1em;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 2;
    margin: auto;
    text-align: center;
    opacity: 0;
    text-shadow: 1px 1px 2px black; 
    animation: appear 1s 1.5s forwards;
  }
  
  .altlogo {
    color: rgba(229, 144, 57, 0.8);
      
  }
  
  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .dropcontainer:before,
  .dropcontainer:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 55%;
    right: 50%;
    transform: translate(50%) rotateX(80deg);
    border-radius: 100%;
    opacity: 0;
    width: 75%;
    height: 75%;
    border: 5px solid #60A5FA88;
    box-shadow:
    -0.7rem 0.2rem 0.5rem rgba(34, 100, 158, 0.1),
    0.7rem 0.2rem 0.5rem rgba(34, 100, 158, 0.1),
    0 0.5rem 0.5rem rgba(34, 100, 158, 0.1),
    inset 0 -0.1rem 0.2rem rgba(34, 100, 158, 0.2),
    inset 0 0.1rem 0.1rem rgba(255, 255, 255, 0.1),
    0 -0.3rem 0.3rem rgba(255, 255, 255, 0.1);
    animation: dripple 1s ease-out 1s infinite;
  }
  
  .dropcontainer:after {
    box-shadow:
    0 0.1rem 0.15rem rgba(255, 255, 255, 0.3),
    inset 0 -0.1rem 0.15rem rgba(255, 255, 255, 0.3),
    inset 0 0.5rem 0.5rem rgba(34, 100, 158, 0.2),
    inset 0.2rem 0 0.3rem rgba(34, 100, 158, 0.1),
    inset -0.2rem 0 0.3rem rgba(34, 100, 158, 0.1),
    0 -0.1rem 0.1rem rgba(34, 100, 158, 0.2);
    animation: dripple 1s ease-out 1.8s infinite;
  }
  
  @keyframes drip {
    45% {
      top: 0;
      border-radius: 100% 5% 100% 100%;
      transform: rotate(-45deg);
    }
    100% {
      top: 0;
      transform: rotate(0deg);
      border-radius: 100%;
    }
  }
  
  @keyframes dripple {
    0% {
      width: 150px;
      height: 150px;
    }
    25% {
      opacity: 1;
    }
    100% {
      width: 500px;
      height: 500px;
      top: -30%;
      opacity: 0;
    }
  }