nav {
    background: rgba(0, 0, 0, 0.6);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    position: relative;
    z-index: 99;
}

.menu-icon {
    display: none;
}

.logo {
    font-weight: 600;
    display: block;
}
  
.wmtitle {
    font-family: sans-serif;
    font-size: 30px;
    line-height: 0.3;
    padding-bottom: 15px;
    margin: 0px;
    color: #f8a538;
}
  
.wmtitle font {
    color: rgba(45, 77, 255, 0.6);
}
  
.subtitle {
    font-family: sans-serif;
    font-size: 10px;
    line-height: 0;
    width: 100%;
    padding: 0px;
    text-align: left;
    text-indent: 38px;
    color:  #e4cdb0;
  }

.menu-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-list li a {
    text-decoration: none;
    color: #e4cdb0;
    font-weight: 300;
    padding: 5px 10px;
    margin-left: 20px;
}

.menu-list li a:hover,
.menu-list li a.active {
    background-color: #e4cdb0;
    border-radius: 2px;
    color: #000;
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1000px) {
    .logo {
        font-size: 20px;
    }
    .menu-list li a {
        font-size: 14px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 800px) {
    .menu-icon {
        display: block;
    }
    .menu-list {
        flex-direction: column;
        width: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 20px;
        right: 0;
        top: 64px;
    }
    .menu-list li {
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
    }
    .menu-list li:last-child {
        margin-bottom: 0px;
    }
    .menu-list li a,
    .menu-list li:last-child a {
      width: 100px;
      display: block;
      margin: auto;
    }
  
    .menu-list.close {
      right: -100%;
      transition: all 0.5s ease-in-out;
    }
}